<!DOCTYPE html>
<html>
    <head>
        <link rel='icon' href='/img/neural_logo.png'>
        <link rel="stylesheet" href="/css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=0.9">
    </head>
    <body>
        <div class = "main-content">
            {{>header}}
            {{message}}
        </div>
        {{>footer}}
    </body>
</html>