<!DOCTYPE html>
<html>
    <head>
        <link rel='icon' href='/img/neural_logo.png'>
        <meta name="viewport" content="width=device-width, initial-scale=0.9">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body style = "background: linear-gradient(#141e30, #eb7132);">
        <div class = "main-content">
            {{>header}}
            <h2>{{message}}</h2> 
            <br>
            <p>{{description}}</p>
            <ul>
                <li><a href='https://github.com/erezasmara/TOXIC_NB_APIS' style="color: black;">Toxic Apis </a></li>
                <li><a href='https://github.com/erezasmara/TOXIC_NB_UI' style="color: black;">Toxic UI</a></li>
            </ul>
        </div>
        
        {{>footer}}
    </body>
</html>