<!DOCTYPE html>
<html>
    <head>
        <link rel='icon' href='/img/neural_logo.png'>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/form.css">
        <link rel="stylesheet" href="/css/loader.css">
        <link rel="stylesheet" href="/css/popup.css">
        <meta name="viewport" content="width=device-width, initial-scale=0.9">
    </head>
    <body style = "background: linear-gradient(#141e30, #53d9d1);">

      <div class = "main-content"> {{>header}} </div>


        <div class="form-box">
            <h2 id="titleForm" >INSERT YOURS COMMENT</h2>
            <form>

                <div class="circle-animation" >
                    <svg>
                        <circle class="circle-one" stroke-linecap="round" cx="50%" cy="50%" r="70"></circle>
                        <circle class="circle-two" stroke-linecap="round" cx="50%" cy="50%" r="55"></circle>	
                    </svg>	 	
                </div>
  
                <div class="text-box">
                    <input placeholder="Insert Your Text" type="text">
                    <button id="form_btm">Check it !</button>
                </div>
          
            </form>
        </div>

        <div class="popup" onclick="GuruPop()">
            <span class="popuptext" id="myPopup">
                <img id="statusImg" src="" style="width: 40px; border-radius: 50% ">
                <h3 id="userTextReq"></h3>
                <p id="toxicRes"></p>
                <div id="popup-arrow"></div>
            </span>
            
            <br>
            <img id="guruImg" src="/img/guru.png" style="width: 100px; border-radius: 50% ">
        </div>

        {{>footer}}
    </body>
    <script src="/js/app.js"></script>

    
</html>







