

<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=0.9">
  <link rel='icon' href='/img/neural_logo.png'>
  <link rel="stylesheet" href="/css/nav.css">
  <script src="/js/ping.js"></script>
</head>
<body class="background-one">
<div class="background-one">
  <div class="link-container">
  </div>
</div>
<div class="background-two link-container">
  <a class="link-two" href="/home">Let's GO!</a>
</div>
<div class="background-three link-container">

</div>
</body>
</html>
