<!-- part of html -->
<header>
    <div style="flex-direction:row; display: flex;">
        <h1> {{title}} </h1>
        <img style="position: absolute; left: 75%; top: 6%;" src="/img/neural_logo.png" height="50px" width="50px">
    </div>
    <a href = "/home">Home</a>
    <a href = "/about">About</a>
    <a href = "/help">Help</a>
</header>
